{{ form_start(form, {
    attr: {
        onsubmit: "return showSubmitInfo()"
    }
}) }}
    {{ form_row(form.name) }}

<fieldset>
    <legend>{{ form_label(form.allergens) }}</legend>
    {{ form_widget(form.allergens) }}
    {{ form_errors(form.allergens) }}
</fieldset>

{{ form_row(form.nutritionalInfo) }}

<button class="btn btn-success">
    {{ button_label|default('Save') }}
</button>

<script>
    function showSubmitInfo() {
        alert("{{ alert_text }}");
        return true;
    }
</script>
{{ form_end(form) }}
