{% extends 'base.html.twig' %}

{% block title %}Add New Meal{% endblock %}

{% block content %}
    <h1>Create New Meal</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.allergens) }}
    {{ form_row(form.nutritionalInfo) }}

    <button type="submit">Save</button>
    {{ form_end(form) }}

{% endblock %}
